# Ignore all except directories and files with extensions
*
!*/
!*.*
!**/Makefile
*.ignore/*

# Ignore object/library files
*.o
*.so
*.a
*.la

# Ignore perf output files
**/perf.data
**/perf.data.old

# Ignore research outputs
research/**.txt
